@redDark: #6A1503;
@redLight: #BF2400;
@greyDark: #BFBFBF;
@greyLight: #EFEFEF;

@import "_basic";
body {
	background-color: @greyDark;
	font-family: 'Cuprum', verdana, arial;
	letter-spacing: 0.8px;
}
div#head {
	background-color: @redDark;
	border-bottom: 5px solid @redLight;
	div#title {
		.contentContainer;
		div.inside {
			padding: 20px;
			h1 {
				color: white;
				font-size: 24px;
			}
			h2 {
				color: white;
				font-size: 18px;
				font-style: italic;
			}
		}
	}
}

div#content {
  .contentContainer;
  .rounded;
  padding: 20px 0px;
	margin-top: 20px;
  background-color: @greyLight;
  div#colLeft {
		.grid(66,2,2);
		p { margin-bottom: 20px;}
		h2 {
	  	color: @redDark;
	  	font-weight: bold;
	  	font-size: 18px;
	  	margin-bottom: 15px;
		}
		dl dt {	
			.grid(16);
			font-weight: bold;
			font-size: 14px;
			clear: both;
			height: 35px;
		}
		dl dd {
			.grid(8);
			height: 35px;
		}
		
		div.sheetIndex {
			.rounded;
			padding: 5px;
			margin-bottom: 20px;
			background-color: @redDark;
			h3 { .grid(15) }
			p { .grid(39); margin-bottom: 0px; color: white; }
			ul { .grid(10) }
			li { float: left; margin-left: 10px; }
			li:first-child { margin-left: 0px; }
			a { color: white; }
		}
  }
  div#colRight {
    .grid(22,2,2);
		h3 {
			.roundedTop;
			color: #6A1503;
			background-color: #DFDFD1;
			text-align: center;
		}
		dl {
			.rounded(20px);
			.gradient(@redLight, @redDark);
			border: 2px solid #6A1503;
			padding: 10px;
			margin-bottom: 10px;
			dt, dd {
				color: white;
				font-size: 14px;
			}
			dd input {
			  width: 175px;
				color: white;
				background: #BF2400;
			  padding: 4px;
				font-size: 12px;
			  margin-bottom: 10px;
			  border-top: 1px solid #4F0F00;
			  border-left: 0px;
	  	  border-right: 0px;
		    border-bottom: 0px;
			  -webkit-transition-property: -webkit-box-shadow, background;
			  -webkit-transition-duration: 0.25s;
	    	-moz-box-shadow: 0px 0px 2px #000;
			  -webkit-box-shadow: 0px 0px 2px #000;
			}
			dd input.submit {
				width: 65px;
				font: 12px;
				padding: 4px;
			}
			dd input.check {
				width: 20px;
				margin: 0px;
			}
			dd label {
				font-size:12px;
				padding-right: 25px;
			}
		}
		ul {
			li:first-child { float: left; margin-right: 5px; }
		}
		a {
			.button;
			font-size: 12px;
		}
  }
}

div#cheatsheet {
  .cheatsheetContainer;
	a.back {
		.grid(15,30,2);
		.gradient(@redLight, black);
		.roundedBottom;
		text-align: center;
		background-color: black;
		color: white;
		height: 30px;
	}
  ul.actions {
		.grid(39);
		.gradient(@redLight, @redDark);
		.roundedBottom;
		height: 30px;
		background-color: @redLight;
		padding: 0px 20px;
		li {
    	float: right;
			margin-left: 20px;
			line-height: 30px;
			color: white;
			a { color: white; text-decoration: underline; }
  	}
		li:first-child {
			margin-left: 0px;
			float: left;
		}
	}
  div#columnLeft, div#columnRight {
    .grid(28);
  }
  div#content {
    .grid(56, 2, 2, 2, 2);
		ul {
			.gradient(@redLight, @redDark);
			.roundedBottom;
			height: 30px;
			background-color: @redLight;
			li {
	    	float: left;
				margin-left: 20px;
				line-height: 30px;
				color: white;
				a { color: white; text-decoration: underline; }
	  	}
		}
  }
}
div.category {
  .rounded;
	.gradient(@redLight, @redDark);
	dl dt, dl dd, dl a {
		color: white;
	}
  border: 1px solid black;
	margin-bottom: 20px;
	padding: 15px;
}