@redDark: #6A1503;
@redLight: #BF2400;
@greyDark: #BFBFBF;
@greyLight: #EFEFEF;

@import "_basic";

p { margin-bottom: 20px;}
body {
	background-color: @greyDark;
	font-family: 'Cuprum', verdana, arial;
	letter-spacing: 1px;
}
div#head {
	background-color: @redDark;
	border-bottom: 5px solid @redLight;
	margin-bottom: 20px;
	div#title {
		.contentContainer;
		div.inside {
			padding: 20px;
			h1 {
				color: white;
				font-size: 24px;
			}
			h2 {
				color: white;
				font-size: 18px;
				font-style: italic;
			}
		}
	}
}

div#content {
  .contentContainer;
  .rounded;
  padding: 20px 0px;
  background-color: @greyLight;
  div#colLeft {
		h2 {
	  	color: @redDark;
	  	font-weight: bold;
	  	font-size: 18px;
	  	margin-bottom: 15px;
		}
  	.grid(66,2,2);
		dl dt {	
			.grid(16);
			font-weight: bold;
			font-size: 14px;
			clear: both;
			height: 35px;
		}
		dl dd {
			.grid(8);
			height: 35px;
		}
  }
  div#colRight {
    .grid(22,2,2);
		h3 {
			.roundedTop;
			color: #6A1503;
			background-color: #DFDFD1;
			text-align: center;
		}
		dl {
			.rounded(20px);
		  background:  -moz-linear-gradient(19% 75% 90deg,@redDark, @redLight);
		  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(@redLight), to(@redDark));

			border: 2px solid #6A1503;
			padding: 10px;
			margin-bottom: 10px;
			dt, dd {
				color: white;
				font-size: 14px;
			}
			dd input {
			  width: 175px;
				color: white;
				background: #BF2400;
			  padding: 4px;
				font-size: 12px;
			  margin-bottom: 10px;
			  border-top: 1px solid #4F0F00;
			  border-left: 0px;
	  	  border-right: 0px;
		    border-bottom: 0px;
			  -webkit-transition-property: -webkit-box-shadow, background;
			  -webkit-transition-duration: 0.25s;
	    	-moz-box-shadow: 0px 0px 2px #000;
			  -webkit-box-shadow: 0px 0px 2px #000;
			}
			dd input.submit {
				width: 65px;
				font: 12px;
				padding: 4px;
			}
			dd input.check {
				width: 20px;
				margin: 0px;
			}
			dd label {
				font-size:12px;
				padding-right: 25px;
			}
		}
		ul {
			li:first-child { float: left; margin-right: 5px; }
		}
		a {
			.button;
			font-size: 12px;
		}
  }
}


div#cheatsheet {
  margin-top: 40px;
  .cheatsheetContainer;
  div#cheatsheetTabs {
    .grid(56,32,23);
    ul {
			.rounded;
			border: 1px solid black;
			height: 16px;
			li {
      float: left;
      list-style-type: none;
      margin-left: 20px;
    	}
		}
  }
  div#columnLeft, div#columnRight {
    .grid(28);
  }
  div#content {
    .grid(60, 2, 2);
		border: none;
  }
}
div.block {
  .rounded;
  border: 1px solid black;
	margin-bottom: 20px;
}